.web-menu{
    ul.navbar-nav{
        li{
            a{
                font-size: 14px !important;
                color: $white !important;
                font-weight: 300;
                font-family: $font-montserrat;
                padding: 0 15px !important;
                cursor: pointer;
                &.active{
                    color: #c7b299;
                }
            }
            i{
                color: $white;
                cursor: pointer;
            }
            &.web-nav-item{
                padding: 0 15px 0 30px;
            }
        }
    }
}