<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">

    <title>Webworld</title>

    <% include /src/include/styles.ejs %>
</head>

<body>

        <main class="web-webworld">
            <!-- Header -->
            <div class="web-hero web-contact-us">
                <% include /src/include/header.ejs %>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 web-contact-header-title text-center">
                            <h3>Elegant Designs</h3>
                            <p>Loram lipsum</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Map-->
            <div class="web-map text-center">
                <img src="images/map.png">
            </div>
            <!-- Our Contact Info -->
            <div class="web-contact-info">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="web-title-border">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                            </div>
                            <div class="wem-contact-title text-center">
                                <h3 class="text-uppercase text-center">Our <span>contact info</span></h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 web-contect-four">
                            <div class="web-map-icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                            <div class="text-center web-contect-add">
                                <h6>Address Details</h6>
                                <p>Address Line 1</p>
                                <p>Street Details 2</span>
                                <p>More details 3</p>
                            </div>
                        </div>
                        <div class="col-lg-3 web-contect-four">
                            <div class="web-map-icon"><i class="fa fa-mobile" aria-hidden="true"></i></div>
                            <div class="text-center web-contect-add">
                                <h6>Telephone</h6>
                                <p>+xxx- xxxxx-xxxxx</p>
                                <p>+xxx- xxxxx-xxxxx</span>
                                <p>+xxx- xxxxx-xxxxx</p>
                            </div>
                        </div>
                        <div class="col-lg-3 web-contect-four">
                            <div class="web-map-icon"><i class="fal fa-calendar"></i></div>
                            <div class="text-center web-contect-add">
                                <h6>Working time</h6>
                                <p>Monday - Fri — 08:00 - 16:00</p>
                                <p>Saturday — Closed</span>
                                <p>Sunday — Closed</p>
                            </div>  
                        </div>
                        <div class="col-lg-3 web-contect-four">
                            <div class="web-map-icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                            <div class="text-center web-contect-add">
                                <h6>Email Address</h6>
                                <a href="#">info@yoursite.com</a>
                                <a href="#">support@yoursite.com</span>
                                <a href="#">Admin@yoursite.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- contact form -->
            <div class="web-contact-info">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 web-contact-title-space">
                            <div class="web-title-border">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </div>
                            <div class="wem-contact-title text-center">
                                <h3 class="text-uppercase text-center">contact <span>Form</span></h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 web-contact-form-space">
                            <form>
                                <div class="web-contact-form">
                                    <div class="web-form-input">
                                        <input type="text" placeholder="Name">
                                    </div>
                                    <div class="web-form-input">
                                        <input type="text" placeholder="Email">
                                    </div>
                                </div>
                                <div class="web-contact-msg">
                                    <textarea type="text" placeholder="Name"></textarea>
                                </div>
                                <div class="web-contact-bnt">
                                    <button type="button" class="btn">SEND</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Contact -->
            <div class="web-contact">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 web-contact-details">
                            <div class="web-contact-content">
                                <img src="images/contact-logo.png">
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                                    alteration in some form,
                                    by injected humour, or randomised words which don't look even slightly believable. If you are
                                    going to use a passage</p>
                            </div>
                        </div>
                        <div class="col-lg-3 web-contact-details">
                            <div class="web-contact-content">
                                <h3>Contact</h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                                    alteration in so</p>
                            </div>
                            <div class="web-icon-text">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span>New Delhi</span>
                            </div>
                            <div class="web-icon-text">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span>info@yourwebsite.com</span>
                            </div>
                            <div class="web-icon-text">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span>890-09880-45590</span>
                            </div>
                        </div>
                        <div class="col-lg-3 web-contact-details">
                            <div>
                                <h3>Latest tweets</h3>
                                <div class="web-contact-content web-tweets-inline">
                                    <i class="fab fa-twitter"></i>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            
                                </div>
                                <div class="web-tweets-inline">
                                    <span>1 Hour Ago</span>
                                </div>
                            </div>
                            <div class="web-contact-content web-tweets-inline">
                                <i class="fab fa-twitter"></i>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
                            </div>
                            <div class="web-tweets-inline">
                                <span>1 Hour Ago</span>
                            </div>
                        </div>
                        <div class="col-lg-3 web-contact-details">
                            <div class="web-contact-content">
                                <h3>News letter</h3>
                                <p>Type your email address below and recive our daily news letter for free</p>
                                <form>
                                    <div class="web-email-from">
                                        <input type="text" placeholder="Email Address">
                                        <span class="text-uppercase">Go</span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
            <div class="web-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 web-footer-text-social-icon">
                            <div>
                                <p>© 2013 All rights reserved. Theme by cssauthor.com</p>
                            </div>
                            <div class="web-social-icon">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>    

        <% include /src/include/scripts.ejs %>
        
</body>
</html>