<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">

    <title>webworld</title>

    <% include /src/include/styles.ejs %>

</head>

<body>
    <main class="web-waxom">
        <!-- Slider -->
        <div class="web-hero">
            <% include /src/include/header.ejs %>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="slideshow-container">
                        
                            <div class="mySlides">
                                <h6>Unique and Modern Design</h6>
                                <h3>Portfolio PSD Template</h3>
                                <p>Nam liber tempor cum soluta nobis eleifend option you had liked me Nam congue nihil imperdiet doming id quod mazim placerat facer possim
                                assum.</p>
                            </div>
                        
                            <div class="mySlides">
                                <h6>Unique and Modern Design</h6>
                                <h3>But man is not made for defeat. </h3>
                                <p>I love you the more in that I believe you had liked me Nam liber tempor imperdiet doming id quod mazim placerat facer possim
                                assum.</p>
                            </div>
                        
                            <div class="mySlides">
                                <h6>Unique and Modern Design</h6>
                                <h3>A man can be destroyed</h3>
                                <p>Proin facilisis aliquam nunc quis imperdiet doming you had liked me Nam you had liked me Nam id quod mazim placerat facer possim
                                assum.</p>
                            </div>
                        
                            <a class="prev" onclick="plusSlides(-1)">❮</a>
                            <a class="next" onclick="plusSlides(1)">❯</a>
                            <div class="web-btn text-center">
                                <button type="button" class="btn">Get Started</button>
                            </div>
                        </div>
                        
                        <div class="dot-container">
                            <span class="dot" onclick="currentSlide(1)"></span>
                            <span class="dot" onclick="currentSlide(2)"></span>
                            <span class="dot" onclick="currentSlide(3)"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Four Section -->
        <div class="web-four-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 dm-four">
                        <div class="text-center web-four-icon">
                            <img src="images/icon.png">
                        </div>
                        <div class="dm-four-part text-center">
                            <h3>Web & App Design</h3>
                            <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 dm-four active">
                        <div class="text-center web-four-icon">
                            <img src="images/icon-1.png">
                        </div>
                        <div class="dm-four-part text-center">
                            <h3>Development</h3>
                            <p>Lorem ipsum dolor sit amet, adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 dm-four">
                        <div class="text-center web-four-icon">
                            <img src="images/icon-2.png">
                        </div>
                        <div class="dm-four-part text-center">
                            <h3>Customization</h3>
                            <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 dm-four">
                        <div class="text-center web-four-icon">
                            <img src="images/icon-3.png">
                        </div>
                        <div class="dm-four-part text-center">
                            <h3>Marketing</h3>
                            <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Waxom is Realization of your Ideas. -->
        <div class="web-realization-ideas">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="web-theme-title text-center">
                            <h3>Waxom is Realization of your Ideas.</h3>
                            <p>Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus,
                            qui sequitur mutationem consuetudium.</p>
                        </div>
                        <div class="web-theme-img">
                            <img src="images/theme-image.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Purchase Now -->
        <div class="web-theme-block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 web-theme-text-btn">
                        <div class="web-theme-text">
                            <h3><span>Waxom</span> Multipurpose WordPress Theme</h3>
                            <p>Don't Forget to Rate the Template. Thanks so much!</p>
                        </div>
                        <div class="web-btn text-center">
                            <button type="button" class="btn">Purchase Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Our Latest Projects. -->
        <div class="our-latest-projects">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="web-theme-title text-center">
                            <h3>Our Latest Projects.</h3>
                            <p>Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus,
                            qui sequitur mutationem consuetudium.</p>
                        </div>
                        <div class="web-theme-btn-all">
                            <button type="button" class="btn active">All</button>
                            <button type="button" class="btn">Web Design</button>
                            <button type="button" class="btn">Mobile App</button>
                            <button type="button" class="btn">Illustration</button>
                            <button type="button" class="btn">Photography</button>
                        </div>
                    </div>
                </div>
                <div class="row web-project-theme-space">
                    <div class="col-lg-4 web-project-block">
                        <div>
                            <img src="images/image1.png">
                        </div>
                        <div class="web-project-content">
                            <h6>Claritas Etiam Processus</h6>
                            <p>Photography, Nature</p>
                        </div>
                    </div>
                    <div class="col-lg-4 web-project-block">
                        <div class="web-project-img">
                            <img src="images/image2.png">
                        </div>
                        <div class="web-project-content active">
                            <h6>Quam Nutamus Farum</h6>
                            <p>Graphic Design, Mock-Up</p>
                        </div>
                    </div>
                    <div class="col-lg-4 web-project-block">
                        <div>
                            <img src="images/image3.png">
                        </div>
                        <div class="web-project-content">
                            <h6>Usus Legentis Videntur</h6>
                            <p>Photography, Holiday</p>
                        </div>
                    </div>
                </div>
                <div class="row web-project-theme-space">
                    <div class="col-lg-4 web-project-block">
                        <div>
                            <img src="images/image4.png">
                        </div>
                        <div class="web-project-content">
                            <h6>Claritas Etiam Processus</h6>
                            <p>Photography, Nature</p>
                        </div>
                    </div>
                    <div class="col-lg-4 web-project-block">
                        <div>
                            <img src="images/image5.png">
                        </div>
                        <div class="web-project-content">
                            <h6>Quam Nutamus Farum</h6>
                            <p>Graphic Design, Mock-Up</p>
                        </div>
                    </div>
                    <div class="col-lg-4 web-project-block">
                        <div>
                            <img src="images/image6.png">
                        </div>
                        <div class="web-project-content">
                            <h6>Usus Legentis Videntur</h6>
                            <p>Photography, Holiday</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="web-btn text-center">
                        <button type="button" class="btn">Load More</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- video section -->
        <div class="web-video">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <% include /src/include/footer.ejs %>
    <% include /src/include/scripts.ejs %>  
        <script>

           var slideIndex = 1;
            showSlides(slideIndex);

            function plusSlides(n) {
                showSlides(slideIndex += n);
            }

            function currentSlide(n) {
                showSlides(slideIndex = n);
            }

            function showSlides(n) {
                var i;
                var slides = document.getElementsByClassName("mySlides");
                var dots = document.getElementsByClassName("dot");
                if (n > slides.length) { slideIndex = 1 }
                if (n < 1) { slideIndex = slides.length }
                for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";
                }
                for (i = 0; i < dots.length; i++) {
                    dots[i].className = dots[i].className.replace(" active", "");
                }
                slides[slideIndex - 1].style.display = "block";
                dots[slideIndex - 1].className += " active";
            }


        </script>
</body>

</html>