<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">

    <title>Webworld</title>

    <% include /src/include/styles.ejs %>
</head>

<body>
        <main class="web-webworld">
            <!-- Header -->
            <div class="web-hero">
                <% include /src/include/header.ejs %>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 web-portfolio-hero">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Inner Protfolio -->
            <div class="web-inner-portfolio">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="web-inner-left">
                                <div class="text-center">
                                    <img src="images/inner-logo.png">
                                </div>
                                <!-- Search Section -->
                                <div class="web-inner-block">
                                    <div class="web-inner-title">
                                        <span class="text-uppercase">search</span>
                                    </div>
                                    <div class="web-search-input">
                                        <input type="text" placeholder="search...">
                                    </div>
                                </div>
                                <!-- Tweet. Tweet Section-->
                                <div class="web-inner-block web-tweet-space">
                                    <div class="web-inner-title">
                                        <span class="text-uppercase web-tweet-title">Tweet. Tweet</span>
                                    </div>
                                    <div class="web-inner-left-content">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem</p>
                                        <a href="#">4 days ago</a>
                                    </div>
                                    <div class="web-inner-left-content">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem</p>
                                        <a href="#">4 days ago</a>
                                    </div>
                                    <div class="web-inner-left-content">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem</p>
                                        <a href="#">4 days ago</a>
                                    </div>
                                </div>
                                <!-- Recent Posts Section -->
                                <div class="web-inner-block">
                                    <div class="web-inner-title">
                                        <span class="text-uppercase web-tweet-title">Recent Posts</span>
                                    </div>
                                    <div class="web-inner-recent-posts-content">
                                        <p><span>Lorem Ipsum is simply text.</span>
                                        dummy text of the print.
                                        ing and typesetting industry.</p>
                                    </div>
                                </div>
                                <!-- Blog Tags -->
                                <div class="web-inner-block web-blog-tags-space">
                                    <div class="web-inner-title">
                                        <span class="text-uppercase web-blog-tags-title">Blog Tags</span>
                                    </div>
                                    <div class="web-blob-tage">
                                        <a href="">Design</a>
                                        <a href="">Development</a>
                                        <a href="">Envato</a>
                                        <a href="">Themeforest</a>
                                        <a href="">Themes</a>
                                        <a href="">Uncategorized</a>
                                        <a href="">WordPress</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="d-table">
                                <ul>
                                    <li>
                                        <div class="text-center web-img-title">
                                            <h3 class="text-uppercase">Lorem Ipsum</h3>
                                            <p>wordpress</p>
                                        </div>
                                        <div>
                                            <img src="images/inner-image1.png">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="text-center web-img-title">
                                            <h3 class="text-uppercase">established</h3>
                                            <p>established</p>
                                        </div>
                                        <div>
                                            <img src="images/inner-image2.png">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="text-center web-img-title">
                                            <h3 class="text-uppercase">randomised</h3>
                                            <p>Drupal</p>
                                        </div>
                                        <div>
                                            <img src="images/inner-image3.png">
                                        </div>
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        <div class="text-center web-img-title">
                                            <h3 class="text-uppercase">accompanied</h3>
                                            <p>blog designing</p>
                                        </div>
                                        <div>
                                            <img src="images/inner-image4.png">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="text-center web-img-title">
                                            <h3>consectetur</h3>
                                            <p>web designing</p>
                                        </div>
                                        <div>
                                            <img src="images/inner-image-5.png">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="text-center web-img-title">
                                            <h3 class="text-uppercase">embarrassing</h3>
                                            <p>Print Designing</p>
                                        </div>
                                        <div>
                                            <img src="images/inner-image-6.png">
                                        </div>
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        <div class="text-center web-img-title">
                                            <h3 class="text-uppercase">Lorem Ipsum</h3>
                                            <p>web developing</p>
                                        </div>
                                        <div>
                                            <img src="images/inner-image7.png">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="text-center web-img-title">
                                            <h3 class="text-uppercase">reasonable</h3>
                                            <p>CMS</p>
                                        </div>
                                        <div>
                                            <img src="images/inner-image8.png">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="text-center web-img-title">
                                            <h3 class="text-uppercase">undoubtable</h3>
                                            <p>joomla</p>
                                        </div>
                                        <div>
                                            <img src="images/inner-image-9.png">
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Contact -->
            <div class="web-contact">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 web-contact-details">
                            <div class="web-contact-content">
                                <img src="images/contact-logo.png">
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                                    alteration in some form,
                                    by injected humour, or randomised words which don't look even slightly believable. If you are
                                    going to use a passage</p>
                            </div>
                        </div>
                        <div class="col-lg-3 web-contact-details">
                            <div class="web-contact-content">
                                <h3>Contact</h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                                    alteration in so</p>
                            </div>
                            <div class="web-icon-text">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span>New Delhi</span>
                            </div>
                            <div class="web-icon-text">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span>info@yourwebsite.com</span>
                            </div>
                            <div class="web-icon-text">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span>890-09880-45590</span>
                            </div>
                        </div>
                        <div class="col-lg-3 web-contact-details">
                            <div>
                                <h3>Latest tweets</h3>
                                <div class="web-contact-content web-tweets-inline">
                                    <i class="fab fa-twitter"></i>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            
                                </div>
                                <div class="web-tweets-inline">
                                    <span>1 Hour Ago</span>
                                </div>
                            </div>
                            <div class="web-contact-content web-tweets-inline">
                                <i class="fab fa-twitter"></i>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
                            </div>
                            <div class="web-tweets-inline">
                                <span>1 Hour Ago</span>
                            </div>
                        </div>
                        <div class="col-lg-3 web-contact-details">
                            <div class="web-contact-content">
                                <h3>News letter</h3>
                                <p>Type your email address below and recive our daily news letter for free</p>
                                <form>
                                    <div class="web-email-from">
                                        <input type="text" placeholder="Email Address">
                                        <span class="text-uppercase">Go</span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
            <div class="web-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 web-footer-text-social-icon">
                            <div>
                                <p>© 2013 All rights reserved. Theme by cssauthor.com</p>
                            </div>
                            <div class="web-social-icon">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <% include /src/include/footer.ejs %>

        <% include /src/include/scripts.ejs %>
</body>

</html>